body {
    color: white;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}

h3 {
    display: flex;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #bbbbbb;
    padding: 8px;
}

.description {
    color: black;
    background-color: white;
}

input {
    text-align: center;
}
