body {
    color: white;
    background-color: #282A35;
    width: 240px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}

h3 {
    display: flex;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #bbbbbb;
    padding: 8px;
}

.description {
    color: black;
    background-color: white;
}

input {
    cursor: pointer;
    text-align: center;
}

select {
    cursor: pointer;
}

.donate {
    display: flex;
    padding: 4px;
    align-items: center;
}

.donateText {
    display: flex;
}

.donateBtn {
    display: flex;
    margin-left: auto;
}

.imgHeart {
    padding-left: 2px;
    height: 16px;
    width: auto;
}
